/* Small screens */
html {
  font-size: 100%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  line-height: 125%;
}

/* Medium screens */
@media (min-width: 40rem) {
  html {
    font-size: 110%;
    line-height: 125%;
  }
}

/* Large screens */
@media (min-width: 64rem) {
  html {
    font-size: 120%;
    line-height: 145%;
  }
}



/* Header */
header {
  margin-top: 6rem;
  margin-bottom: 4rem;
}

@media (min-width: 40rem) {
  header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .header-pic {
    grid-column: 1;
    grid-row: 1;
  }

  .header-text {
    grid-column: 2 / 4;
    grid-row: 1;
  }
}

.title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  color: #bd2b2b;
  text-transform: uppercase;
}

.navigation-target {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: #808080;
}




/* Blog Index */
article.blog-card {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(5, 1fr);
}

.blog-card-title {
  grid-column: 1 / 5;
  flex: 1;
}

.blog-card-date {
  grid-column: 5;
}




/* Tapas Index */
section.tapas-grid {
  grid-gap: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

article.tapas-card {
  /* border: 1px solid gray; */
  border-radius: 2px;
  box-shadow: gray 0 1px 2px;
  display: flex;
  flex-direction: column;
  padding: .8em 1em;
  /* outline: 1px solid gray; */
  /* outline-offset: 8px; */
}

.tapas-card-title {
  flex: 1;
}




/* Tapas Content */
div.tapas-content {
  font-size: 150%;
  line-height: 150%;
  font-weight: 200;
}

h1.tapas-title {
  text-align: center;
}




/* Border-box sizing */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* Container */
.container {
  margin: 0 auto;
  max-width: 56rem;
  width: 90%;
}


article {
  padding-top: 3%;
}


/* Links */
a {
  color: #000;
}
a.no_underline {
  text-decoration: none;
}
a.colored {
  color: #4160b4;
}
a:hover {
  text-decoration: underline;
}
p a {
  text-decoration: underline;
}
p.back-footer {
  margin-top: 3rem;
  margin-bottom: 3rem;
}


h1,h2,h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  line-height: 115%;
}


p.description {
  margin-bottom: 3rem;
}


/* Post metadata */
.date {
  padding-top: 0.9rem;
  color: #808080;
  font-weight: 300;
  font-size: 75%;
}


/* Code */
pre {
  border-style: dotted;
  border-width: 1px;
  border-color: #7c7c7b;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
}

code {
  font-family: 'Inconsolata';
  font-weight: 400;
}


/* Images */
img#me {
  max-width: 100%;
  border-radius: 25px;
}

img.logo {
  height: 26px;
  width: 26px;
}

.emoji {
  transform: translate(0, 4px);
}

h2 img.emoji {
  height: 100%;
  width: 60px;
}

article img.emoji {
  height: 100%;
  width: 30px;
}


