/* Small screens */
html {
  font-size: 75%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  line-height: 125%;
}

/* Medium screens */
@media (min-width: 40rem) {
  html { font-size: 85%; }
}

/* Large screens */
@media (min-width: 64rem) {
  html { font-size: 100%; }
}


/* Border-box sizing */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* Container */
.container {
  margin: 0 auto;
  max-width: 56rem;
  width: 90%;
}


/* Columns */
.column {
  margin-bottom: 1.5rem;
}

@media (min-width: 40rem) {
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .column.one-third { width: 33%; }
  .column.two-thirds { width: 66%; }
  .column.three-fourths { width: 75%; }
  .column.one-fourth { width: 25%; }
  .column.flow-opposite { float: right; }
}


/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}


/* Links */
a {
  color: #000;
  text-decoration: none;
}
a.colored {
  color: #4160b4;
}
a:hover {
  text-decoration: underline;
}
p.back-footer {
  margin-top: 3rem;
  margin-bottom: 3rem;
}


/* Headers */
header {
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  color: #bd2b2b;
  text-transform: uppercase;
}

.byline {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: #808080;
}

h1,h2,h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  line-height: 115%;
}


p.description {
  margin-bottom: 3rem;
}


/* Post metadata */
.post-date {
  padding-top: 0.9rem;
  color: #808080;
  font-weight: 300;
  font-size: 75%;
}


/* Code */
pre {
  border-style: dotted;
  border-width: 1px;
  border-color: #7c7c7b;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
}

code {
  font-family: 'Inconsolata';
  font-weight: 400;
}


/* Images */
img#me {
  max-width: 100%;
  border-radius: 25px;
}

img.logo {
  height: 26px;
  width: 26px;
}
