<!DOCTYPE html>
<html>
  <head>
    <title>{{ page:title }}</title>
    <meta name="description" content="Mike Knepper is a web developer in Chicago." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/yeti.css">
    <link rel="stylesheet" type="text/css" href="/css/pygments.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">mk</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/invisible_cities">Blog</a></li>
            <li><a href="/">About</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {{ content }}
    </div>

  </body>
</html>
