<!DOCTYPE html>
<html>
  <head>
    <title>Mike Knepper</title>
    <meta name="description" content="Mike Knepper is a web developer in Chicago." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400italic,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/custom_styles.css">
    <link rel="stylesheet" type="text/css" href="/css/pygments.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </head>

  <body>
    {% include navbar.html %}

    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        {{ content }}
      </div>
    </div>

    {% include google_analytics.html %}
  </body>
</html>
