<!DOCTYPE html>
<html>
  <head>
    <title>Mike Knepper</title>
    <meta name="description" content="Mike Knepper is a software engineer in Chicago.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:300,400,700|Inconsolata' rel='stylesheet' type='text/css'>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="msapplication-TileColor" content="#0097A7">
    <meta name="theme-color" content="#0097A7">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/syntax.css">
  </head>

  <body>
    <div class="container">
      <div class="row clearfix">
        <header>
          <div class="column two-thirds flow-opposite">
            <h1 class="title">Mike Knepper</h1>
            <h3 class="byline">@mikeknep: <a class="no_underline" href="https://twitter.com/mikeknep" target="_blank">Twitter</a> | <a class="no_underline" href="https://github.com/mikeknep" target="_blank">GitHub</a></h3>
          </div>
          <div class="column one-third">
            <a href="/"><img id="me" src="/images/me.jpg"></img></a>
          </div>
        </header>
      </div>

      {{ content }}
    </div>
  </body>
</html>
